---
const datos = [
  {
    id: "3",
    img: "logo_dev.png",
    tipo: "sergiocomovas",
    desc: "Repositorio de GITHUB",
    url: "https://github.com/sergiocomovas/",
  },
  {
    id: "4",
    img: "logo_sergiocomovas.png",
    tipo: "@SergioComoVas",
    desc: "Cuenta de 𝕏 principal",
    url: "https://x.com/sergiocomovas",
  },
  {
    id: "5",
    img: "logo_hilos.png",
    tipo: "@SergioComoVas",
    desc: "Cuenta de threads",
    url: "https://www.threads.net/@sergiocomovas",
  },
  {
    id: "2",
    img: "logo_palmainfo.png",
    tipo: "Palma Info y Sucesos Asombrosos",
    desc: "Comunidad y grupo de Telegram",
    url: "https://twitter.com/i/communities/1527611374611857410",
  },
];
---

<div class="row-full relative" style="height: 150px; background-image: url('/fondo.svg'); background-size: cover; background-repeat: no-repeat; margin-bottom: 0px;">
  <div class="max-w-6xl mx-auto px-4">
    <h3 class="hidden text-center md:block font-bold mb-4 pt-4">
      Enlaces externos y RRSS
    </h3>

    <div class="flex gap-3 overflow-x-auto pb-2">
      {datos.map((d) => (
        <a
          class="shine card bg-neutral/30 border border-neutral hover:bg-neutral/50 transition-all p-3 flex items-center gap-2 min-w-[300px]"
          href={d.url}
          target="_blank"
        >
          <div class="avatar">
            <div class="w-12 rounded-full">
              <img
                src={`logos_cv_2022/${d.img}`}
                alt={d.img}
                loading="lazy"
              />
            </div>
          </div>
          <div class="flex flex-col">
            <span class="font-bold text-base-100 whitespace-nowrap">
              {d.tipo}
            </span>
            <span class="text-xs text-base-100/70 whitespace-nowrap">
              {d.desc}
            </span>
          </div>
        </a>
      ))}
    </div>
  </div>
</div>
