---
const datos = [
  {
    id: "3",
    img: "logo_dev.png",
    tipo: "sergiocomovas",
    desc: "Repositorio de GITHUB",
    url: "https://github.com/sergiocomovas/",
  },
  {
    id: "4",
    img: "logo_sergiocomovas.png",
    tipo: "@SergioComoVas",
    desc: "Cuenta de 𝕏 principal",
    url: "https://x.com/sergiocomovas",
  },
  {
    id: "5",
    img: "logo_hilos.png",
    tipo: "@SergioComoVas",
    desc: "Cuenta de threads",
    url: "https://www.threads.net/@sergiocomovas",
  },
  {
    id: "2",
    img: "logo_palmainfo.png",
    tipo: "Palma Info y Sucesos Asombrosos",
    desc: "Comunidad y grupo de Telegram",
    url: "https://twitter.com/i/communities/1527611374611857410",
  },
];
---

<div class="row-full row-perso">
  <header style="margin-top:0px;">
    <div class="grid grid-cols-1">
      <h3 class="hidden text-center md:block font-bold mb-4">Enlaces externos y RRSS</h3>
    </div>

    <div class="scrollmenu row-full hover:???">
      {
        datos.map((d) => (
          <a
            class="scrollele shine"
            style="font-size:0.5rem"
            href={d.url}
            target="_blank"
          >
            <figure class="avatar" style="float:left; padding: 5px;">
              <img
                style="border-radius:100%; filter: opacity(99%) blur(0.1px);"
                src={`logos_cv_2022/${d.img}`}
                alt={d.img}
              />
            </figure>
            <h3 class="h3perso whitespace-nowrap">
              {d.tipo}
              <span style="opacity:60%" class="whitespace-nowrap">
                {d.desc}
              </span>
            </h3>
          </a>
        ))
      }
    </div>
  </header>
</div>

<style>
  .row-perso {
    height: 150px !important;
    background-image: url("/fondo.svg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0px;
  }

  .h3perso {
    float: left;
    width: 50px;
    margin: 0px !important;
    padding: 5px !important;
    text-overflow: ellipsis !important;
    color: var(--color-text);
  }

  div.scrollmenu {
    white-space: nowrap;
    overflow-x: visible;
    overflow-y: scroll;
    margin-top: -15px;
    scroll-padding-block-start: 105px;
    z-index: 0;
  }

  div.scrollmenu::-webkit-scrollbar {
    width: 0em; /* ancho de la barra de desplazamiento */
    height: 0.5em;
    background-color: transparent; /* color de fondo transparente */
  }

  div.scrollmenu::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ffffff;
    opacity: 0.5; /* color de fondo transparente con opacidad del 20% */
  }

  div.scrollmenu::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-bg-secondary);
    background-color: #ffffff90;
  }

  div.scrollmenu::-webkit-scrollbar-button {
    background-color: transparent;
  }

  div.scrollmenu::-webkit-scrollbar-button {
    background-color: transparent;
  }

  .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  a.scrollele {
    margin: 5px 5px 8px 12px !important;
    display: inline-block !important;
    color: white;
    text-align: left;
    padding: 0px 15px 15px 0px;
    border-radius: 10px;
    text-decoration: none;
    height: 50px;
    background-color: #521c6a50;
    width: 360px;
    display: inline-block;
    vertical-align: center;
  }

  @keyframes bg-move {
    0% {
      background-position: -500px 0;
    }
    100% {
      background-position: 1000px 0;
    }
  }

  a.scrollele:last-child {
    margin-right: 100px !important;
  }

  a.scrollele:first-child {
    margin-left: 100px !important;
  }

  a.scrollele:hover {
    text-decoration: none;
    background-color: #521c6a90 !important;
  }
</style>

<script is:inline src="../scripts/hscroll.js"></script>
